# .gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Packages
*.egg
*.egg-info
*.dist-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environment
.env

# virtualenv
# Uncomment this line if you have choose not to commit the virtual environment.
env/

# IDEs artifacts
.idea/
.vscode/
*.swp
*.swo

# csv, excel
*.csv
*.xlsx

# macOS display setting files
.DS_Store
